.DraftEditor-root {
  font-family: Times, serif;
  font-size: 20px;
  
}

.post {
  margin: 10vmin 10vmin;
}

.new-post {
  margin: 20vmin 20vmin;
}

.new-post-title {
  font-size: 50px;
  margin-bottom: 20vmin
}
